<!DOCTYPE html>

<html>
<head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">

    <!--[if lte IE 8]>
    <script src="/public/js/html5shiv.js"></script><![endif]-->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/skel.min.js"></script>
    <script src="/public/js/skel-layers.min.js"></script>
    <script src="/public/js/init.js"></script>
    <link rel="stylesheet" href="/public/css/frog.css"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:500,300">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
    <noscript>
        <link rel="stylesheet" href="/public/css/style.css"/>
        <link rel="stylesheet" href="/public/css/skel.css"/>
        <link rel="stylesheet" href="/public/css/style-xlarge.css"/>
    </noscript>
</head>
<body id="top">

<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="#">Frog</a></h1>
    <nav id="nav">
        <ul>
            <li><a href='{{url "App.Index"}}'>Home</a></li>
            <li><a href='{{url "UserController.Index"}}'>Login</a></li>
            <li><a href='{{url "UserController.Register"}}'>Sign Up</a></li>
        </ul>
    </nav>
</header>