{{set . "title" "Home"}}
{{template "header.html" .}}

<!-- Banner -->
<section id="three" class="wrapper style1">
    <div class="container">
        <h2>{{msg . "company"}}</h2>

        <div class="row">
            <div class="span6">
                {{template "flash.html" .}}
            </div>
        </div>

        <div class="row">
            <div class="8u">
                <section>
                    <h3>{{msg . "list"}}</h3>
                </section>
                <section>
                    company 1
                </section>
                <section>
                    company 2
                </section>
                <section>
                    company 3
                </section>
                <section>
                    company ...
                </section>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="8u">
                <section>
                    <h3>{{msg . "create"}}</h3>
                </section>
                <section>
                    <form action='{{url "CompanyController.Register"}}' method="GET">
                        {{with $field := field "company.Name" .}}
                        <div class="form-group {{$field.ErrorClass}}">
                            <label for="nameInput">{{msg $ "name"}}</label>
                            <input type="name" class="form-control" id="nameInput" placeholder='{{msg $ "name"}}'
                                   size="30"
                                   name="{{$field.Name}}" value="{{$field.Flash}}">
                            <span class="error">{{$field.Error}}</span>
                        </div>
                        {{end}}

                        <input type="submit" value='{{msg $ "company.register"}}'/>
                    </form>
                </section>
            </div>
        </div>
    </div>
</section>

{{template "footer.html" .}}
