{{set . "title" "Home"}}
{{template "header.html" .}}

<!-- Banner -->
<section id="three" class="wrapper style1">
    <div class="container">
        <h2>{{msg . "company"}}</h2>

        <div class="row">
            <div class="span6">
                {{template "flash.html" .}}
            </div>
        </div>

        <div class="row">
            <div class="8u">
                <section>
                    <h3>{{msg . "list"}}</h3>
                </section>
                <section>
                    company 1
                </section>
                <section>
                    company 2
                </section>
                <section>
                    company 3
                </section>
                <section>
                    company ...
                </section>
            </div>
        </div>

        <hr/>
        <a href='{{url "CompanyController.Register"}}' class="button small">Create</a>


    </div>
</section>

{{template "footer.html" .}}
