{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container">
    <h1>{{msg . "register"}}</h1>

    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>

    <form action='{{url "User.RegisterRequest"}}' method="GET">
        {{with $field := field "userEmail" .}}
        <div class="form-group {{$field.ErrorClass}}">
            <label for="emailInput">{{msg $ "email"}}</label>
            <input type="email" class="form-control" id="emailInput" placeholder='{{msg $ "email"}}' size="30"
                   name="{{$field.Name}}" value="{{$field.Flash}}">
            <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}

        {{with $field := field "password" .}}
        <div class="form-group {{$field.ErrorClass}}">
            <label for="passwordInput">{{msg $ "password"}}</label>
            <input type="password" class="form-control" id="passwordInput" placeholder='{{msg $ "password"}}'
                   size="20"
                   name="{{$field.Name}}" value="{{$field.Flash}}">
            <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}

        {{with $field := field "userName" .}}
        <div class="form-group {{$field.ErrorClass}}">
            <label for="userNameInput">{{msg $ "name"}}</label>
            <input type="text" class="form-control" id="userNameInput" placeholder='{{msg $ "name"}}' size="20"
                   name="{{$field.Name}}" value="{{$field.Flash}}">
            <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}


        <input type="submit" value='{{msg $ "signup"}}'/>
    </form>
</div>

{{template "footer.html" .}}
